language: python
dist: xenial
python:
  - "3.4"
  - "3.5"
  - "3.6"
# Enable 3.7 without globally enabling sudo and dist: xenial for other build jobs
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
install:
  - pip install -e .
  - pip install -r requirements.txt
script:
  - coverage run mrcrowbar/tests.py
after_success:
  - coveralls
